        <!-- Sidebar -->
        <nav id="sidebar" class="hidden-xs-down bg-faded sidebar">
            <div class="sidebar-header">
                <h2>Gestion d'Stoque</h2>
            </div>
    
            <ul class="nav nav-pills flex-column">
                <p>Eduardo Baia</p>
                <li class="nav-item"> 
                    <a  class="nav-link"   [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >DashBoad</a>
                </li>
                <li class="nav-item"> 
                    <a  class="nav-link"   [routerLink]="['/produit']" routerLinkActive="router-link-active" >Produit</a>
                </li>
            </ul>
        </nav>
